extends layout

block content
  h1 Welcome to Indovidence

  img.center-block.img-responsive(src='#{imageUrl}/Ship.png')

  br
  div
    img.center-block.img-responsive(src='#{imageUrl}/hackathon_3_indovidence.jpg')
