extends layout

block content
  h1 Welcome to Indovidence

  img.center-block.img-responsive(src='#{imageUrl}/Ship.png')

  br
  h3 Problem definition: 
  p Corruption and fraud start with manipulation of the information. Traceability is one of the most effective way to fight this, it helps to prevent manipulation of this information.  Traceable information will discourage people to manipulate the information and the process.
  h3 Proposed Solution: 
  p We show a simple flow how to trace and confirm information from A to B by using digital document and law compliant digital signature. Digitally signed document cannot be modified unnoticed. All parties must confirm and sign the documents. This documents could be used as a legal agreement and evidence of the transaction between parties. Our solution shows an implementation of traceable flow for registering import and export products. But this solution could also be used for other cases, like all kind of (government related) requests, business agreements, product originality etc. For this hackaton we use a third party document signing service, but in the "real live" implementation the signing service could be provided by the Indonesian government.